html{
    padding: 0;
    margin: 0;
}
body {
   background-color: #355070; 
}

.topnav {
  background-color: mistyrose;
  overflow: hidden;
  }

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: black;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 22px;
}
.logo{
    float: left;
}
.navbar-brand {
    font-family: 'Sansita Swashed', cursive;
    font-size: 100px;
    color: #5f6368!important;
}

/* Change the color of links on hover */
.topnav a:hover {
    color: black;
    padding-bottom: 20px;
    
}
.topnav a.active {
    background-color: lightblue;
    color: black;
    padding-bottom: 20px;
}

.hero-content{
    padding-left: 75rem;
    height: 100vh;
    background-color: #6d597a;
    color: #ffffff;
    padding: 3rem;
    margin-bottom: 1vh;
}
.muted{
    font-size: 22px;
    padding-left: 12rem;
    color: white;
}
.hero-content h1{
    color: white;
   font-size: 44px;
   padding-top: 2rem;
   padding-left: 14rem;
}
.button {
    position: relative;
    left: 290px;
    border-radius: 1.0rem;
    padding: 1rem 2rem;
    font-size: 162%;
    background-color: #fff;
    color: #039be5!important;
    transition: 0.3s;
}
.button1{
    font-family: 'Sansita Swashed', cursive;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    font-size: 162%;
    background-color: #fff;
    color: #039be5!important;
    transition: 0.3s;
}
.button1:hover{
    text-decoration: none;
    background-color: #bfdff0
}
.image {
    border-radius: 8.0rem;
    position: relative;
    top: 0px;
    height: 90vh;
    width: 40%;
    float: right;
}

